<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
  <!--    <bean id="demandeConge" class="model.DemandeConge" scope="prototype">-->
  <!--        <property name="collaborateur" ref="c"/>-->
  <!--        <property name="periode" ref="p"></property>-->
  <!--    </bean>-->
  <bean id="c" class="com.stepinfo.model.Collaborateur" scope="prototype">
    <constructor-arg index="0" value="Rebai"/>
    <constructor-arg index="1" value="Tarek"/>

  </bean>
  <bean id="p" class="com.stepinfo.model.Periode" scope="prototype">
    <constructor-arg index="0" value="21-12-2021"/>
    <constructor-arg index="1" value="7"/>

  </bean>

<!--  &lt;!&ndash; Provide support for component scanning &ndash;&gt;-->
<!--  <context:component-scan base-package="*" />-->
<!--  &lt;!&ndash;Provide support for conversion, formatting and validation &ndash;&gt;-->
<!--  <mvc:annotation-driven/>-->
</beans>